/* Full page designs */
html {
  margin: 0;
}

* {
  margin: 0;
}

/* Navbar designs */
nav {
  box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
}

.airbnb-logo {
  padding: 22px 30px;
  max-width: 100px;
}

/* Hero designs */
.hero {
  padding: 25px 35px;
}

.hero-group-img {
  display: block;
  margin-inline: auto;
  padding-inline: 15px;
  width: 70%;
  max-width: 600px;
  height: auto;
}

.page-title {
  padding: 25px 0 0 0;
  font-size: 36px;
}

.about-page {
  width: 45%;
}

/* Card design */
.card-line {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  /* height: 235px; */
  width: 176px;
  padding: 8px;
  font-size: 12px;
}

.badge {
  position: absolute;
  background: white;
  padding: 2px 8px;
  margin: 8px 10px;
  border-radius: 3px;
}

.card-img {
  width: 100%;
}

.details {
  display: flex;
  align-items: center;
  padding-top: 3px;
}

.details > * {
  margin-inline: 2px;
  padding-block: 2px;
}

.star {
  width: 14px;
  padding-bottom: 4px;
}

.grey-text {
  color: #918E9B;
}